body {
  background-image: url('C:\Users\Dell Exclusive\Desktop\Projects\cricket-voting-app\images\stadium.jpg');
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
  color: #fff; /* Change text color for better visibility */
}

.players-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.player {
  color: rgb(71, 3, 3);   /*Changed the color*/
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

